services:
  mongo:
    image: mongo:7
    container_name: progtalk-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
  
  backend:
    build: .
    container_name: progtalk-backend
    depends_on:
      - mongo
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      MONGO_URI: mongodb://mongo:27017/progtalk

volumes:
  mongo_data: